.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
  width: 100%;
  position: relative;
  background-color: black;
  height: 100px;
}
.header>img{
  width: 90px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
}
.header>h1{
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
}
nav{
  width: 100%;
  /* background-color: red; */
}
nav>ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding:5px;
  margin: 5px;
  overflow: hidden;
}
nav>ul>li{
  color: white;
  list-style: none;
  font-size: 18px;
}
nav>ul>li:hover{
  scale: 1.03;
  cursor: pointer;
}
