:root{
  --colorFondo:rgb(218, 234, 236);
  --colorBoton:rgb(0, 0, 255);
  --colorBotonHover: rgb(173, 216, 230);
  --colorHoverFont:rgb(0, 0, 255);
  --imagenSinFondo:url("../public/img/logoRemove.png");
  --imagenFondo:url("../public/img/logo.jpg");
}
